#desbkgd{
background:url('../img/arphoto.jpg') 50% 0 no-repeat fixed;
color: #fff;
height: 400px;
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}

section.module.parallax {
  padding: 240px 0;
  background-position: 0 0;
}
section.work {
 background-color: #ffffff;
 color: #333333;
 height: 350px;
 margin: 0 auto;
 overflow: hidden;
 padding: 200px 0;
 }
 #intro {
   width: 100%;
   float: left;

 }
 #poke {
   width: 50%;
   float: right;
 }
 .emblem {
   background-color: #437c49;
  border-style: solid;
  border-top-style:solid;
  border-bottom-style:solid;
  border-left-style:none;
  border-right-style:none;
  border-color:#791313;
   border-width: 3px;
   box-shadow:2px 0px 5.5px;
   margin-bottom: 10px;
 }
 #med {
   width: 50%;
   float: right;
 }
 #medpic {
   width: 48%;
   float: left;
   margin-top: 19px;
 }
 #app {
   height: 600px;
 }
 #mil {
   width: 50%;
   float: left;
   margin-top: 40px;
 }
 #milpic {
   width: 48%;
   float: right;
 }
 #edpic {
   width: 48%;
   float: left;
 }
 #ed {
   width: 50%;
   float: right;
   margin-top: 40px;
 }
#concpic {
  align-items: center;
}
#concerns {
  height: 750px;
}
.left {
  width: 48%;
  float: left;
}
.right {
  width: 48%;
  float: right;
}
#sec {
  margin-top: 90px;
}
#comp {
  height: 1400px;
}
#use {
  height: 1100px;
}
#costs {
  height: 500px;
}
#compn {
  height: 650px;
}
#third {
  margin-top: 65px;
}
#vid {
  height: 600px;
}
.brk {
  width:960px;
}
